---
    title: {{post.title}}
    layout: dawn/default.njk
    permalink: /
---
<div class="content-area">
    {% include '../_includes/dawn/partials/featured.njk' %}

    <main class="site-main">
        <div class="post-feed container medium">
            {%for post in ghost_posts %}
                <article class="feed {{post_class}}">
                    <span class="feed-calendar">
                        <span class="feed-calendar-day">
                            {{post.published_at | shortDate}}
                        </span>
                    </span>
                    <a href="/posts/{{post.slug}}" class="feed-title">{{ post.title }}</a>
                    <span class="feed-right">
                        <span class="feed-length">
                            {{post.html | readingTime}}
                        </span>
                    </span>
                    &nbsp;&gt;
                    <a class="u-permalink" href="/posts/{{post.slug}}" aria-label="{{post.title}}"></a>
                </article>

            {% else %}
                <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </div>
        {{pagination}}
    </main>
</div>