---
    title: teste a coisas
    layout: dawn/default.njk
    permalink: /
---
<div class="content-area">
    {% include '../_includes/dawn/partials/featured.njk' %}

    <main class="site-main">
        <div class="post-feed container medium">
            {%for post in ghost_posts %}
                <article class="feed {{post_class}}">
                    <div class="feed-calendar">
                        <div class="feed-calendar-day">
                            {{post.published_at | shortDate}}
                        </div>
                    </div>
                    <h2 class="feed-title">{{ post.title }}</h2>
                    <div class="feed-right">
                        <div class="feed-length">
                            {{post.html | readingTime}}
                        </div>
                    </div>
                    <svg class="icon feed-icon">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                    <a class="u-permalink" href="/posts/{{post.slug}}" aria-label="{{post.title}}"></a>
                </article>

            {% else %}
                <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </div>
        {{pagination}}
    </main>
</div>