---
layout: dawn/default.njk
permalink: /
type: post
eleventyComputed:
    meta:
        site:
            url: "https://www.decrescimento.pt"
            logo: "{{env.URL}}/assets/images/logo_white_theme.png"
        title: "Rede Para o Decrescimento"
        description: "A Rede para o Decrescimento apela a mudanças individuais, a experiências coletivas, a resistir, a desenvolver projetos políticos e a pensar em futuros diferentes."
        image:
            url: "{{env.URL}}/assets/images/logo_white_theme.png"
---
<div class="cover container">
    <div class="cover-content">
        <div class="cover-icon">
            <img class="cover-icon-image white" src="/assets/images/white_icon.png" alt="Icon da Rede para o Decrescimento em Branco">
            <img class="cover-icon-image" src="/assets/images/dark_icon.png" alt="Rede para o Descrescimento">
        </div>

        <div class="cover-description">Num planeta de recursos limitados torna-se imperativo reduzir os níveis de produção e consumo. A Rede para o Decrescimento apela a mudanças individuais, a experiências coletivas, a resistir, a desenvolver projetos políticos e a pensar em futuros diferentes.</div>

        <div class="cover-cta">
            <a class="button members-subscribe" href="/pages/sobre-nos">Saiba Mais</a>
        </div>
    </div>
</div>
<div class="content-area">

    {% include '../_includes/dawn/partials/featured.njk' %}

    <main class="site-main">
        <div class="post-feed container medium">
            {%for post in ghost_posts %}
                <article class="feed {{post_class}}">
                    <span class="feed-calendar">
                        <span class="feed-calendar-day">
                            {{post.published_at | shortDate}}
                        </span>
                    </span>
                    <a href="/posts/{{post.slug}}" class="feed-title">{{ post.title }}</a>
                    <span class="feed-right">
                        <span class="feed-length">
                            {{post.html | readingTime}}
                        </span>
                    </span>
                    &nbsp;&gt;
                    <a class="u-permalink" href="/posts/{{post.slug}}" aria-label="{{post.title}}"></a>
                </article>

            {% else %}
                <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </div>
        {{pagination}}
    </main>
</div>