---
    title: {{post.title}}
    layout: dawn/default.njk
    permalink: "/subscribe-success/"
---
<div class="cover container">
    <div class="cover-content">
        <div class="cover-icon">
            <img class="cover-icon-image white" src="/assets/images/white_icon.png" alt="Icon da Rede para o Decrescimento em Branco">
            <img class="cover-icon-image" src="/assets/images/dark_icon.png" alt="Rede para o Descrescimento">
        </div>

        <h2 class="cover-description">Obrigado por subscrever à nossa newsletter!</h2>

        <div class="cover-cta">
            <p></p>
            <a class="button members-subscribe" href="/">Voltar ao Inicio</a>
        </div>
    </div>
</div>