---
pagination:
    data: ghost_posts
    size: 1
    alias: post
type: post
eleventyComputed:
  meta:
    site:
        url: "{{page.url}}"
        logo: "{{env.URL}}/assets/images/logo_white_theme.png"
    title: "{{ pagination.items[0].title }}"
    description: "{{ pagination.items[0].custom_excerpt }}"
    author:
      name: "{{pagination.items[0].primary_author.name}}"
      image:
        url: "{{pagination.items[0].primary_author.profile_image}}"
    image:
        url: "{{pagination.items[0].feature_image}}"
permalink: "/posts/{{ post.slug | slug }}/"
layout: dawn/default.njk
---
<header class="sticky">
    <div class="sticky-title">{{post.title}}</div>
    <button class="button-icon sticky-toc-button" aria-label="Table of Contents">
        <svg class="icon">
            <path d="M3 9h14V7H3v2m0 4h14v-2H3v2m0 4h14v-2H3v2m16 0h2v-2h-2v2m0-10v2h2V7h-2m0 6h2v-2h-2v2z"></path>
            <use xlink:href="#table-of-contents">
            </use>
        </svg>
        <div class="sticky-toc"></div>
    </button>
    <div class="sticky-track">
        <div class="sticky-progress"></div>
    </div>
</header>
<header class="single-header kg-canvas">
    <div class="single-meta"  style="margin-top:5em">
        <span class="single-meta-item single-meta-date">
            <time datetime="2021-03-03">
                {{post.published_at | shortDate}}
            </time>
        </span>
        <span class="single-meta-item single-meta-length">
            {{post.reading_time}} min leitura
        </span>
        <span class="single-meta-item single-meta-tag">
            <a class="post-tag post-tag-decrescimento" href="/tags/{{post.tags[0].slug}}/">
                {{post.tags[0].name}}
            </a>
        </span>
    </div>
    <h1 class="single-title">{{post.title}}</h1>
    <div class="single-excerpt" style="margin-bottom:2.5em">
        {{ post.custom_excerpt }}
    </div>
</header>
<div class="single-content kg-canvas u-text-format"/>
{{post.html | safe}}
<section class="single-cta">
    <h2 class="single-cta-title">Gostou do artigo? Considere subscrever</h2>
    <button class="button single-cta-button" data-portal="signup" onclick="toggleSubscribeForm()">Subscrever</button>
</section>
</div>

<footer class="single-footer container medium">
<div class="single-footer-left">
    <div class="navigation navigation-previous">
        <a class="navigation-link" href="{{env.URL}}/{{pagination.href.previous}}" aria-label="Previous post">
            &lt;
        </a>
    </div>
</div>
<div class="single-footer-middle">
    <div class="single-footer-top">
        <h3 class="single-footer-title">Autor</h3>
        <div class="author-list">
            {% for author in post.authors %}
                <div class="author-image-placeholder u-placeholder square" style="height: 70px;width: 70px;border-radius: 50%;">
                    <a href="/membros/{{author.slug}}/" title="{{author.name}}">
                        {%if author.profile_image %}
                            {% image author.profile_image, author.name, [70], ["author-image"], ["u-object-fit"] %}
                        {% endif %}
                        <p class="author-name">{{author.name}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="single-footer-bottom">
        <div class="share">
            <a class="share-link share-link-facebook" href="https://www.facebook.com/sharer.php?u=https://www.decrescimento.pt/posts/{{post.slug}}" target="_blank" rel="noopener noreferrer">
                <svg class="icon icon-facebook">
                    <use xlink:href="#facebook"></use>
                </svg>
                            Partilhar
                        </a>
            <a class="share-link share-link-twitter" href="https://twitter.com/intent/tweet?url=https://www.decrescimento.pt/posts/{{post.slug}}&amp;" target="_blank" rel="noopener noreferrer">
                <svg class="icon icon-twitter">
                    <use xlink:href="#twitter"></use>
                </svg>
                            Tweet
                        </a>
        </div>
    </div>
</div>
<div class="single-footer-right">
    <div class="navigation navigation-next">
        <a class="navigation-link" href="{{env.URL}}/{{pagination.href.next}}" aria-label="Next post">
            &gt;
        </a>
    </div>
</div>
</footer>
