---
    title: teste a coisas
    layout: dawn/default.njk
---

<div class="content-area">
    <main class="site-main wide">
        <article class="single post no-image page">
            <header class="single-header kg-canvas">
                <h1 class="">{{ title }}</h1>
            </header>
            <div class="single-content kg-canvas u-text-format">
                {{ content | safe }}
            </div>
        </article>
    </main>
</div>