---
permalink: "/events/new-event-success/"
layout: dawn/default.njk
---
<header class="single-header kg-canvas">
    <h1 class="single-title">O evento foi submetido com sucesso!</h1>
    <p></p>
    <div class="single-excerpt">
        <p>Assim que o revermos será publicado</p>
    </div>
</header>
<div class="single-content kg-canvas u-text-format"/>
<div class="u-placeholder horizontal">
    {%image "https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3450&q=80", "Novo Evento", [357, 600, 972], [] , ["u-object-fit"] %}
</div>
</div>
<footer class="single-footer container medium"></footer>