---
pagination:
    data: events
    size: 1
    alias: post
permalink: "/events/{{ post.title | slug }}/"
layout: dawn/default.njk
---
<header class="single-header kg-canvas">
    <div class="single-meta">
        <span class="single-meta-item single-meta-date">
            <time>
                {{post.type}} | {{post | eventDate}}
            </time>
            <p>{{post.local}}</p>
        </span>
    </div>
    <h1 class="single-title">{{post.title}}</h1>
    <div class="single-media kg-width-wide u-placeholder">
        {%if post.banner[0].url%}
        {% image post.banner[0].url, post.title %}
        {%endif%}
    </div>
</header>
<div class="single-content kg-canvas u-text-format"/>
{{post.notes | markdown | safe}}
</div>
<footer class="single-footer container medium">
<div class="single-footer-left">
    <div class="navigation navigation-previous">
        <a class="navigation-link" href="{{env.URL}}/{{pagination.href.previous}}" aria-label="Previous post">
            &lt;
        </a>
    </div>
</div>
<div class="single-footer-middle">
    <div class="single-footer-bottom">
        <div class="share">
            <a class="share-link share-link-facebook" href="https://www.facebook.com/sharer.php?u=https://decrescimento.pt/o-plano-de-recuperacao-e-resiliencia-da-pseudo-consulta-publica-a-falta-de-coragem-para-imaginar-um-futuro-diferente/" target="_blank" rel="noopener noreferrer">
                <svg class="icon icon-facebook">
                    <use xlink:href="#facebook"></use>
                </svg>
                            Partilhar
                        </a>
            <a class="share-link share-link-twitter" href="https://twitter.com/intent/tweet?url=https://decrescimento.pt/o-plano-de-recuperacao-e-resiliencia-da-pseudo-consulta-publica-a-falta-de-coragem-para-imaginar-um-futuro-diferente/&amp;text=O%20Plano%20de%20Recupera%C3%A7%C3%A3o%20e%20Resili%C3%AAncia" target="_blank" rel="noopener noreferrer">
                <svg class="icon icon-twitter">
                    <use xlink:href="#twitter"></use>
                </svg>
                            Tweet
                        </a>
        </div>
    </div>
</div>
<div class="single-footer-right">
    <div class="navigation navigation-next">
        <a class="navigation-link" href="{{env.URL}}/{{pagination.href.next}}" aria-label="Next post">
            &gt;
        </a>
    </div>
</div>
</footer>