---
pagination:
    data: events
    size: 100
    alias: posts
permalink: "/events/"
layout: dawn/default.njk
---

<div class="row">
    {% for post in posts %}
<section class="column" class="single-header kg-canvas">
    <a href="/events/{{post.id}}">
    <div style="margin-bottom:1em" class="single-media kg-width-wide u-placeholder">
        {%if post.Banner.url%}
        {% image env.STRAPI_URL+post.Banner.url, post.Title %}
        {%endif%}
        
    </div>
    <h3>{{post | eventDate}}</h3>

    <h3>{{post.Title}}</h3>
    </a>
</section>

    {% endfor %}
</div>
<div>
    <form name="contact" method="POST" data-netlify="true">
  <p>
    <label>Nome: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Subscrever</button>
  </p>
</form>

</div>

<style>
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width:1130px;
  margin: 1em auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  width:50%;
}
</style>
