{%if featured_posts.length %}
    <section class="featured-wrapper container">
        <h2 class="featured-title">Artigos em Destaque</h2>
        <div class="featured-feed owl">
            {%for featured in featured_posts %}
                <article class="post featured">
                    {% if featured.feature_image %}
                            {%if featured.feature_image%}
                              {%image featured.feature_image, featured.title, [357, 600, 972], ["u-placeholder"] , ["u-object-fit"] %}
                            {%endif%}
                    {% endif %}
                    <h3 class="post-title">{{featured.title}}</h3>
                    <a class="u-permalink" href="{{env.URL}}/posts/{{featured.slug}}"
                            aria-label="{{featured.title}}"></a>
                </article>
            {% endfor %}

        </div>
    </section>
{% endif %}