<footer class="site-footer container">
    <div class="social">
        {% if site.facebook %}
            <a class="social-item social-item-facebook"
                href="{{ site.facebook }}" target="_blank"
                rel="noopener noreferrer" aria-label="Facebook">
                <svg class="icon">
                    <use xlink:href="#facebook-box"></use>
                </svg>
            </a>
        {% endif %}
        {% if site.twitter %}
            <a class="social-item social-item-twitter"
                href="{{ site.twitter }}" target="_blank"
                rel="noopener noreferrer" aria-label="Twitter">
                <svg class="icon">
                    <use xlink:href="#twitter-box"></use>
                </svg>
            </a>
        {% endif %}
        <a class="social-item social-item-rss"
            href="/feed.xml"
            target="_blank" rel="noopener noreferrer" aria-label="RSS">
            <svg class="icon">
                <use xlink:href="#rss-box"></use>
            </svg>
        </a>
    </div>

    <nav class="footer-nav" style="flex-direction: inherit;">

        <small>Contacto: <a style="text-decoration: underline;" href="mailto:geral@decrescimento.pt">geral@decrescimento.pt</a>
        </small>
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-system">
                <use xlink:href="#circle-half-full"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">System theme</span>
        </a>
        <br>
        <div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </nav>
</footer>