<div class="header-left">
    <a class="logo" href="{{env.URL}}"><img class="logo-image white" src="https://www.decrescimento.pt/assets/images/white_logo.png">
        <img class="logo-image" src="https://www.decrescimento.pt/content/images/2021/03/g4962-2-1.png" alt="Rede para o Descrescimento">
    </a>
</div>
<nav class="main-nav hidden-xs hidden-sm hidden-md">
    <a class="menu-item menu-item-{{slug}}" href="/">Inicio</a>
    <a class="menu-item menu-item-{{slug}}" href="/pages/o-que-e-o-decrescimento/">Decrescimento?</a>
    <a class="menu-item menu-item-{{slug}}" href="/pages/sobre-nos/">Sobre Nós</a>
    <a class="menu-item menu-item-{{slug}}" href="/pages/eventos/">Eventos</a>
</nav>
<button class="button-icon hidden-lg hidden-xl js-modal" data-modal="search" aria-label="Search">
    <svg class="icon">
        <use xlink:href="#magnify"></use>
    </svg>
</button>
<div class="burger hidden-lg hidden-xl">
    <div class="burger-bar"></div>
    <div class="burger-bar"></div>
</div>