<div class="header-left">
    <a class="logo" href="/">
        <img class="logo-image white" src="/assets/images/logo_dark_theme.png" alt="Rede para o Descrescimento">
        <img class="logo-image" src="/assets/images/logo_white_theme.png" alt="Rede para o Descrescimento">
    </a>
</div>
<nav class="main-nav hidden-xs hidden-sm hidden-md">
    <a class="menu-item menu-item-{{slug}}" href="/">Inicio</a>
    <a class="menu-item menu-item-{{slug}}" href="/pages/o-que-e-o-decrescimento/">Decrescimento?</a>
    <a class="menu-item menu-item-{{slug}}" href="/pages/sobre-nos/">Sobre Nós</a>
    <a class="menu-item menu-item-{{slug}}" href="/events/">Agenda</a>
    <a class="menu-item menu-item-{{slug}}" href="/membros/index.html">Membros</a>
    <a class="menu-item menu-item-{{slug}}" href="javascript:toggleSubscribeForm()">Subscrever</a>
</nav>
<div class="burger hidden-lg hidden-xl">
    <div class="burger-bar"></div>
    <div class="burger-bar"></div>
</div>